#!/usr/bin/env bash

#
# update-cjdns
#
# Meant to run periodically in order to download, build, package, and install
# the latest cjdns revision from the upstream git repository. The script
# optionally takes an argument for a different package to build, assuming
# there's a PKGBUILD for it in the corresponding $BUILD_DIR.
#

package=$1

readonly BUILD_DIR="{{ package_build_dir }}/${package:=cjdns-git}"
readonly BASENAME="${0##*/}"  # name of this script for error output

# print the specified message and exit with the given code, if one was supplied
error_exit() {
  echo "${BASENAME} (ERROR) - ${1}" 1>&2
  exit 1
}

[[ -d $BUILD_DIR ]] || error_exit "build directory ${BUILD_DIR} does not exist"

cd "${BUILD_DIR}"
/usr/bin/sudo -su {{ admin_user }} /usr/bin/makepkg --clean --syncdeps --install --noconfirm

[[ $? -eq 0 ]] || error_exit 'makepkg build failed'

exit 0
